body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/Apple.jpeg'); /* Путь к вашему фоновому изображению */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Фиксировать фоновое изображение */
    font-family: Arial, sans-serif; /* Установка шрифта по умолчанию */
}
.container {
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 90%;
    opacity: 0.9; /* Установка прозрачности */
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.contactList {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.contactList li {
    margin-bottom: 5px;
    color: #555;
}

.mapContainer {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mapContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Радиус скругления углов */
}

.aboutUs {
    margin-bottom: 20px;
    border-radius: 12px; /* Радиус скругления углов */
    overflow: hidden; /* Обрезаем фотографии, чтобы они соответствовали радиусу скругления */
}

.aboutUsTitle {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.aboutUsDescription {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

.creatorsPhotos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Выравнивание содержимого вверх */
}

.creatorPhoto {
    width: 400px; /* Задайте ширину, соответствующую вашим потребностям */
    height: 400px; /* Фиксированная высота для обеспечения одинакового размера */
    object-fit: cover; /* Позволяет изображению сохранять пропорции и заполнять контейнер */
    border-radius: 12px; /* Радиус скругления углов */
}
.address {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px; /* добавляем небольшое отступ сверху */
}